html {
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  background-image: url("/img/pin_blue.gif");
}

.background {
  height: 100%;
  width: 100%;
  background: rgb(0, 20, 19) url("/img/pink_violet.gif");
  background-blend-mode: difference;
}

.silhouette {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  mask-image: url("/img/silhouette_woman_wearing_heels.png");
  mask-size: 150px;
}

.edge {
  padding: 0px;
}

header {
  clear: both;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px ridge white;
}

header a {
  flex-grow: 1;
  max-width: 64rem;
}

h1, h2 {
  font-family: cursive;
  background: linear-gradient(to bottom, fuchsia, black);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
  text-align: center;
}

header img {
  margin: 1em;
  height: 100px;
  width: auto;
}

header marquee {
  border-left: 4px dotted white;
  border-right: 4px dotted white;
  background-image: url("/img/thankyoubabe.gif");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 64rem;
  height: 128px;
}

span.ding {
  font-family: "Dingbat", fantasy;
}

div.body-content {
  display: flex;
  max-width: 64rem;
  margin: auto;
}

div.left {
  margin: 1em;
  width: max-content;
  min-width: max-content;
}

div.sidebar {
  border: 30px dotted #DB3FAB;
  border-image: url("/img/heart_jewel_border.png") 68 round;
}

div.sidebar > ul {
  padding: 0;
}

li::marker {
  content: none;
}

div.sidebar > ul img:first-of-type {
  width: 30px;
  height: auto;
}

div.sidebar marquee {
  border-bottom: 4px dotted white;
}

div.button {
  padding: 0.5em;
  border: 4px outset white;
  background-image: url("/img/cloud_glitter_in_pink.gif");
}

div.main-container {
  flex-grow: 1;
  position: relative;
  margin: 1em;
}

div.content-border {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

div.content-border > img {
  z-index: -1;
  position: absolute;
  height: 300px;
}

img.corner-bl {
  left: -40px;
  bottom: -10px;
}

img.corner-tr {
  top: -4px;
  right: -10px;
}

div.main-content {
  position: relative;
  padding: 30px 60px;
}

div.welcome {
  background-image: url("/img/glitter_in_black.gif");
  border: 4px ridge turquoise;
  width: min-content;
  margin: auto;
  display: flex;
}

div.welcome > img {
  height: 100px;
  width: auto;
}

div.js-warning {
  font-size: 120%;
  font-family: "OCR-A";
  text-align: center;
  background-image: repeating-linear-gradient(135deg, black, black 0.5em, gold 0.5em, gold 1em);
  padding: 0.3em;
  max-width: 100%;
}

div.js-warning > div {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.js-warning img {
  margin: 1em;
  width: 2em;
  height: 100%;
}

ul.main-list {
  padding: 0;
  column-width: 200px;
}

ul.main-list > li {
  break-inside: avoid;
  border: 4px ridge white;
  background-image: url("/img/pink_sand_glitter.gif");
  margin-bottom: 14px;
}

ul.main-list > li img {
  max-width: 100%;
}

/**
 * Cursor (extremely important)
**/
:not(a *) {
  cursor: url("/img/flame_cursor/wood.png") 2 11, auto;
}

a {
  animation: cursorAnimation 0.5s infinite;
  animation-timing-function: steps(4, jump-start);
}

@keyframes cursorAnimation {
  0% {
    cursor: url("/img/flame_cursor/cursor0.png") 2 11, auto;
  }
  25% {
    cursor: url("/img/flame_cursor/cursor1.png") 2 11, auto;
  }
  50% {
    cursor: url("/img/flame_cursor/cursor2.png") 2 11, auto;
  }
  75% {
    cursor: url("/img/flame_cursor/cursor3.png") 2 11, auto;
  }
  100% {
    cursor: url("/img/flame_cursor/cursor0.png") 2 11, auto;
  }
}

/**
* Canvas
**/
#artbox {
  position: absolute;
  border: 1px solid #c3c3c3;
  width: 100%;
  height: 100%;
}

/**
* Fonts
**/

@font-face {
  font-family: "Dingbat";
  src: url("/fonts/Dingbat.otf");
}

@font-face {
  font-family: "OCR-A";
  src: url("/apl2/assets/OCRA.ttf");
}
